* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.board-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: calc(30px * var(--row-size));
    height: calc(30px * var(--col-size));
}

.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 30px;
    background-color: grey;
    border: 1px solid black;
}

.dashboard-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 120px;
    height: 50px;
    background-color: rgb(191, 150, 192);
}

.main-container {
    display: flex;
    flex-direction: column;
}

.timer {
    background-color: aliceblue;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flags-counter {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
    width: 50px;
    height: 50px;
}

.empty {
    background-color: aqua;
}

.buttons-container {
    display: flex;
    flex-direction: row;
}